In [1]:
import numpy as np
# Importing numpy package as np
# np is short form representation of numpy package

In [2]:
np.zeros(10)
# An 1-Dimensional array of 10 columns with value of zero

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [7]:
np.ones(10)
# An 1-Dimensional array of 10 columns with value of one

array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1.])

In [8]:
np.ones(10)*7
# Multiplying the 1-Dimensional array with the value of 7

array([7., 7., 7., 7., 7., 7., 7., 7., 7., 7.])

In [9]:
np.arange(25, 37)
# Prints out the values between the range of 25 (included) to 37 (excluded)

array([25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36])

In [10]:
np.arange(9,33,3)
# Prints out the values between 9 and 33 with a step value of 3

array([ 9, 12, 15, 18, 21, 24, 27, 30])

In [11]:
np.arange(16).reshape(4,4)
# Building the matrix shape of 4*4 with values of range between 0 and 16 (excluded)

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15]])

In [12]:
np.eye(4)
# Identity matrix of 4*4 square matrix

array([[1., 0., 0., 0.],
       [0., 1., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 0., 1.]])

In [14]:
np.random.rand(5)
# Printing out a random values between 0 and 1

array([0.14859416, 0.73224273, 0.99088068, 0.18713755, 0.38595499])

In [15]:
np.random.randn(5)
# Printing out a random values of normal distribution function

array([ 0.13655313, -0.01904355,  1.59189916, -0.80796314, -0.70581686])

In [20]:
np.arange(5,14).reshape(3,3)/10
# Prints out a 3*3 square matrix between the values of 5 and 13, dividing the matrix value by 10

array([[ 5,  6,  7],
       [ 8,  9, 10],
       [11, 12, 13]])

In [21]:
np.linspace(1,2,10)
# Prints out 10 values between 1 and 2

array([1.        , 1.11111111, 1.22222222, 1.33333333, 1.44444444,
       1.55555556, 1.66666667, 1.77777778, 1.88888889, 2.        ])

In [22]:
sqmat = np.arange(1,26).reshape(5,5)
# Prints out the matrix of 5*5 values between 1 and 25 in row wise manner

In [23]:
sqmat

array([[ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10],
       [11, 12, 13, 14, 15],
       [16, 17, 18, 19, 20],
       [21, 22, 23, 24, 25]])

In [24]:
sqmat[4:,3:]
# Prints out 5th row and values from 4rd column

array([[24, 25]])

In [25]:
sqmat[:2,1:2]
# Prints out the value upto 3rd row and 2nd column

array([[2],
       [7]])

In [26]:
sqmat[:1,:]
# Prints out the entire first row of the dataset

array([[1, 2, 3, 4, 5]])

In [27]:
sqmat.sum()
# Prints out the sum of the values in the square matrix

325

In [28]:
sqmat.std()
# Gives the standard deviation value of the matrix

7.211102550927978

In [29]:
sqmat.sum(axis=0)
# Prints out the sum of the row values

array([55, 60, 65, 70, 75])