In [1]:
import pandas as pd
# Importing the pandas package and naming it as pd i.e. short form of notation

In [2]:
blackfriday = pd.read_csv('C:/Users/kamalsaran/Desktop/bader/BlackFriday.csv')
# Reading the blackfriday dataset using the pandas package

In [42]:
blackfriday.head()
# The head function prints out the first five rows of the dataset

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969

In [4]:
blackfriday.info()
# The info function gives the detail about the data type of each column

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 537577 entries, 0 to 537576
Data columns (total 12 columns):
User_ID                       537577 non-null int64
Product_ID                    537577 non-null object
Gender                        537577 non-null object
Age                           537577 non-null object
Occupation                    537577 non-null int64
City_Category                 537577 non-null object
Stay_In_Current_City_Years    537577 non-null object
Marital_Status                537577 non-null int64
Product_Category_1            537577 non-null int64
Product_Category_2            370591 non-null float64
Product_Category_3            164278 non-null float64
Purchase                      537577 non-null int64
dtypes: float64(2), int64(5), object(5)
memory usage: 49.2+ MB

In [6]:
blackfriday['Purchase'].mean()
# Gives the mean value of the purchase attribute i.e. column of the blackfriday

9333.859852635065

In [7]:
blackfriday['Purchase'].max()
# Maximum value of the purchase column in the blackfriday

23961

In [8]:
blackfriday['Purchase'].min()
# Minimum value of the purchase column in the blackfriday

185

In [10]:
blackfriday[blackfriday['Marital_Status'] == 0].count()
# Outputs the count values of the Marital Status column which has the value equal to zero

User_ID                       317817
Product_ID                    317817
Gender                        317817
Age                           317817
Occupation                    317817
City_Category                 317817
Stay_In_Current_City_Years    317817
Marital_Status                317817
Product_Category_1            317817
Product_Category_2            220325
Product_Category_3             98202
Purchase                      317817
dtype: int64

In [11]:
blackfriday[blackfriday['City_Category']=='A'].count()
# Returns the number of columns which have City Category value of 'A'

User_ID                       144638
Product_ID                    144638
Gender                        144638
Age                           144638
Occupation                    144638
City_Category                 144638
Stay_In_Current_City_Years    144638
Marital_Status                144638
Product_Category_1            144638
Product_Category_2             96755
Product_Category_3             40848
Purchase                      144638
dtype: int64

In [17]:
blackfriday[blackfriday['City_Category']=='C'].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 166446 entries, 4 to 537576
Data columns (total 12 columns):
User_ID                       166446 non-null int64
Product_ID                    166446 non-null object
Gender                        166446 non-null object
Age                           166446 non-null object
Occupation                    166446 non-null int64
City_Category                 166446 non-null object
Stay_In_Current_City_Years    166446 non-null object
Marital_Status                166446 non-null int64
Product_Category_1            166446 non-null int64
Product_Category_2            118588 non-null float64
Product_Category_3            55245 non-null float64
Purchase                      166446 non-null int64
dtypes: float64(2), int64(5), object(5)
memory usage: 16.5+ MB

In [19]:
blackfriday['City_Category'].value_counts()
# The number of rows having the different City Category values

B    226493
C    166446
A    144638
Name: City_Category, dtype: int64

In [22]:
blackfriday['Stay_In_Current_City_Years'].value_counts().head(5)
# Outputs the first five categories of the Stay In Current City Years columns

1     189192
2      99459
3      93312
4+     82889
0      72725
Name: Stay_In_Current_City_Years, dtype: int64

In [29]:
blackfriday[blackfriday['Purchase'] > 23400]['Age']

343       26-35
375       36-45
736       26-35
1445      26-35
3167      51-55
3172      18-25
3630      26-35
5059       0-17
5493      46-50
5494      46-50
5620      46-50
5907      36-45
6543      26-35
6585      51-55
6911      36-45
7145      26-35
7201      18-25
7542        55+
7675      36-45
7948      18-25
8648      36-45
8784      36-45
9201      18-25
10016     46-50
10155     26-35
10738     46-50
11931     26-35
12428     26-35
13013     26-35
13950     18-25
          ...
519423    18-25
519451    26-35
519825      55+
520499      55+
521341    46-50
521895      55+
521974    36-45
522029    36-45
522584    46-50
522798      55+
522931    46-50
524817    36-45
525057    26-35
525565    26-35
525885    46-50
526271    26-35
526317    26-35
526850    36-45
526951    36-45
528371    51-55
528391    26-35
528639    51-55
529204    36-45
532053    36-45
533751    46-50
534306    36-45
534362    36-45
535045    18-25
535167    26-35
536807    46-50
Name: Age, Length: 1358, dtype: object

In [33]:
blackfriday[(blackfriday['City_Category']=='A')&(blackfriday['Gender']== 'F')].count()
# Outputs the value counts which have the City Category value of A and Gender value of F

User_ID                       34807
Product_ID                    34807
Gender                        34807
Age                           34807
Occupation                    34807
City_Category                 34807
Stay_In_Current_City_Years    34807
Marital_Status                34807
Product_Category_1            34807
Product_Category_2            23026
Product_Category_3             8998
Purchase                      34807
dtype: int64

In [40]:
blackfriday['Product_Category_2'].fillna(value = 0.0 )
# Fills in the empty values of the Product category_2 with 0.0 value

0          0.0
1          6.0
2          0.0
3         14.0
4          0.0
5          2.0
6          8.0
7         15.0
8         16.0
9          0.0
10        11.0
11         0.0
12         0.0
13         2.0
14         8.0
15         5.0
16         3.0
17        14.0
18        14.0
19         5.0
20        14.0
21         0.0
22         0.0
23         0.0
24         8.0
25         8.0
26         0.0
27        14.0
28         8.0
29         4.0
          ...
537547     2.0
537548     0.0
537549     8.0
537550     0.0
537551     6.0
537552     8.0
537553    13.0
537554    14.0
537555    16.0
537556    14.0
537557     0.0
537558    17.0
537559    17.0
537560    16.0
537561    16.0
537562    13.0
537563     0.0
537564    14.0
537565     0.0
537566     0.0
537567    14.0
537568     0.0
537569    14.0
537570    16.0
537571     2.0
537572     2.0
537573    15.0
537574    15.0
537575     0.0
537576     8.0
Name: Product_Category_2, Length: 537577, dtype: float64

In [41]:
blackfriday['Product_Category_3'].fillna(value = blackfriday['Product_Category_2'].mean())
# Replaces the empty values with the mean value of the Product Category_3

0          9.842144
1         14.000000
2          9.842144
3          9.842144
4          9.842144
5          9.842144
6         17.000000
7          9.842144
8          9.842144
9          9.842144
10         9.842144
11         9.842144
12         9.842144
13         5.000000
14        14.000000
15         9.842144
16         4.000000
17         9.842144
18        16.000000
19        15.000000
20         9.842144
21         9.842144
22         9.842144
23         9.842144
24        14.000000
25         9.842144
26         9.842144
27         9.842144
28        14.000000
29         8.000000
            ...
537547    15.000000
537548     9.842144
537549    14.000000
537550     9.842144
537551     8.000000
537552     9.842144
537553     9.842144
537554     9.842144
537555     9.842144
537556     9.842144
537557     9.842144
537558     9.842144
537559     9.842144
537560     9.842144
537561     9.842144
537562    14.000000
537563     9.842144
537564     9.842144
537565     9.842144
537566     9.842144
537567     9.842144
537568     9.842144
537569     9.842144
537570     9.842144
537571     5.000000
537572     9.842144
537573    16.000000
537574     9.842144
537575     9.842144
537576     9.842144
Name: Product_Category_3, Length: 537577, dtype: float64